
<!DOCTYPE html>

<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Styles. Bootstrap theme from https://bootswatch.com/litera/ -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css')}}">
    <link href="/static/favicon.ico" rel="icon">
    <link href="/static/css/styles.css" rel="stylesheet">


    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/60cade9c39.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167277466-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-167277466-1');
    </script>
    <script type="text/javascript">
        function preventBack(){window.history.forward()};
        setTimeout("preventBack()"),0;
            window.onunload=function(){null;}
    </script>


<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>


    <title>ExpenseWala:
Home
</title>

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/" style="font-family:Arial;font-size: 25px;">ExpenseWala</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarColor02" style="">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/home"><i class="far fa-chart-bar"></i> Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/expenses"><i class="fas fa-wallet"></i> Expenses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-piggy-bank"></i> Budgets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-funnel-dollar"></i> Spend Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('.reports')}}"><i class="fas fa-table"></i> Reports</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/account"><i class="fas fa-user-circle"></i> Your
                        Account</a></li>
                <li class="nav-item"><a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i> Log Out</a>
                </li>
            </ul>

        </div>
    </nav>

    <main class="container p-5 text-center">

<h1>Dashboard</h1>

<!-- Begin Quick Expense -->
<button type="button" class="btn btn-outline-primary btn-block btn-lg" data-toggle="modal"
    data-target="#quickExpenseModal" style="font-weight:bold;font-size:30px;color:black;">💰 Add Expense 💰</button>

<div class="modal fade" id="quickExpenseModal" tabindex="-1" role="dialog" aria-labelledby="quickExpenseModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="quickExpenseModalLabel">Add Expense</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/adddataindb" id="quickExpense" method="post" autocomplete="off">
                    <input type="hidden" name="csrf_token" value="IjUxN2Y2OTlmYmE3NGM3ZmQzODhiNTAzMDQyZjU1ODIxY2NlMzNhYzIi.Y1VRIQ.kIV3q7ukeVM6q6E5MbB56BgTzL8" />
                    <div class="form-group">
                        <label for="description" class="col-form-label">Description:</label>
                        <input type="text" class="form-control" name="description" id="description" value=""
                            form="quickExpense" maxlength="200" required>
                    </div>
                    <div class="form-group">
                        <label for="category" class="col-form-label">Category:</label>
                        <select id="category" class="form-control-sm" name="category" form="quickExpense" required>
                            <option value="None">None</option>

                            <option value="Groceries">Groceries</option>

                            <option value="Housing">Housing</option>

                            <option value="Utilities">Utilities</option>

                            <option value="Dining Out">Dining Out</option>

                            <option value="Shopping">Shopping</option>

                            <option value="Travel">Travel</option>

                            <option value="Entertainment">Entertainment</option>

                            <option value="Other">Other</option>

                        </select>
                    </div>
                    <div class="form-group">
                        <label for="date" class="col-form-label">Date:</label>
                        <input type="date" class="form-control" name="date" id="date" value=""
                            form="quickExpense" required>
                    </div>
                    <div class="form-group">
                        <label for="payer" class="col-form-label">Payer:</label>
                        <select id="payer" class="form-control-sm" name="payer" form="quickExpense"  required>
                            <option value="Groceries">None</option>
                            <option value="Self" >Self</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="amount" class="col-form-label">Amount:</label>
                        <input type="text" class="form-control-sm" name="amount" id="amount" value="" size="10"
                            placeholder="$" required maxlength="10"
                            pattern="(?=.*?\d)^(([1-9]\d{0,2}(\d{3})*)|\d+)?(\.\d{1,2})?$"
                            title="Format must be currency value without dollar sign or commas e.g. 1, 2.50, 1500.75"
                            form="quickExpense" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" form="quickExpense">Save Expense</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
 <br>
<div class="container">
    <!-- Begin Your Expenses -->
    <div class="row">
        <div class="col-12">
            <h2 style="text-align:left">Your Expenses</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
                <div class="card-header"><strong>Remaining Income</strong></div>
                <div class="card-body">
                        <h4 class="card-title">{{60000-ex}}</h4>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-warning mb-3" style="max-width: 20rem;">
                <div class="card-header"><strong>Expenses</strong></div>
                <div class="card-body">
                    <h4 class="card-title">{{ex}}</h4>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-header"><strong>Monthly Expenses</strong></div>
                <div class="card-body">
                    <h4 class="card-title">{{ex_monthly}}</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
            <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                <div class="card-header"><strong>Weekly Expenses</strong></div>
                <div class="card-body">
                    <h4 class="card-title">{{ex_weekly}}</h4>
                </div>
            </div>
        </div>
    </div>
 <br>
    <div class="row">
        <div class="col-12">
            <h4 style="text-align:left">Last 5 Expenses</h4>
            <p class="small" style="text-align:left"><a href="/fulltable">(view all expense history)</a></p>
            <div class="table-responsive">
                <table class="table table-hover table-striped table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Index</th>
                            <th scope="col">Description</th>
                            <th scope="col">Category</th>
                            <th scope="col">Date</th>
                            <th scope="col">Payer</th>
                            <th scope="col">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if data %}
                        {% for i in data %}
                        <tr>
                            <td>{{i.id}}</td>
                            <td>{{i.description}}</td>
                            <td>{{i.category}}</td>
                            <td>{{i.expense_date}}</td>
                            <td>{{i.payer}}</td>
                            <td>{{i.amount}}</td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </main>
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>